.tit{

  color: blueviolet;
  font-family: "Playwrite ES Deco Guides", serif;;
}
.playwrite-es-deco-guides-regular {
  font-family: "Playwrite ES Deco Guides", serif;
  font-weight: 800;
  font-style: normal;
}

